.body {
    background: rgb(143,247,255);
background: radial-gradient(circle, rgba(143,247,255,1) 0%, rgba(245,194,243,1) 100%);
}

.ul {
  list-style-type: none;
  margin: -9px;
  padding: 0;
  overflow: hidden;
  background: rgb(24,26,107);
background: linear-gradient(90deg, rgba(24,26,107,1) 0%, rgba(29,22,129,1) 43%, rgba(0,212,255,1) 100%);
}

.li {
  float: left;
}

.lir{
    float: right;
    color: black;
    display: block;
  text-align: center;
  padding: 7px 21px;
}

.lia {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.lia:hover {
  background-color: #111;
}
.button	{


    text-indent: 9px;
    margin: 5px;
    padding: 17px;
    border-color: lightgray;
    color: #4b4b4b;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-family:  Georgia, serif;
    box-shadow: inset -1px 3px 8px 5px #a3a3a3, 2px 5px 16px 0px #a2f9fd, 6px 8px 0px -3px rgba(0,0,0,0.1);
}

.table {
        display: table;
    border-collapse: inherit;
    box-sizing: content-box;
    text-indent: initial;
    border-spacing: 7px;
    border-color: #6799d1;
    }

 .abutton {
    color: #4b4b4b;
    cursor: pointer;
    text-decoration: none;
    font-style: italic;
    font-family:  Georgia, serif;
	box-shadow: inset -1px 3px 8px 5px #a3a3a3, 2px 5px 16px 0px #a2f9fd, 6px 8px 0px -3px rgba(0,0,0,0.1);
}
